# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Build & Release
dist/
*.zip
*.7z
*.tar.gz

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Windows & OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Game backups
*.bak
*_backup/
PatchFiles/Backup/
